<nav class="navbar navbar-expand-lg navbar-dark afHead fixed-top">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
	        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand " href="/">
		<img src="/img/brand_logo.png" width="60" height="50" alt="Brand"
		     class="d-inline-block align-center afHeadTextBrand">
		<img src="/img/brand_text.png" width="1000" height="50" alt="Brand"
		     class="align-center afHeadLogoBrand d-none d-sm-none d-md-inline-flex">
	</a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item" id="index">
				<a class="nav-link" th:href="@{'/'}">Buscar animal</a>
			</li>
			<li class="nav-item" id="pub">
				<a class="nav-link" th:href="@{'/publicar'}">Publicar anuncio</a>
			</li>
		</ul>
	</div>

	<ul class="nav navbar-nav navbar-right">

		<li sec:authorize="isAuthenticated()">
			<form action="/profile">
				<button class="btn btn-dark my-sm-0 mr-2" type="submit">
					<i class="fas fas fa-address-card afIconsBtn"></i>
					Mi perfil
				</button>
			</form>
		</li>
		<li sec:authorize="isAuthenticated()">
			<form action="/logout">
				<button class="btn btn-dark my-sm-0" type="submit">
					<i class="fas fa-sign-out-alt afIconsBtn"></i>
					Cerrar sesion
				</button>
			</form>
		</li>
		<li>&nbsp;</li>
		<li sec:authorize="isAnonymous()">
			<form action="/register">
				<button class="btn btn-dark my-sm-0 mr-2" type="submit">
					<i class="fas fa-sign-in-alt afIconsBtn"></i>
					¡Regístrate!
				</button>
			</form>
		</li>
		<li sec:authorize="isAnonymous()">
			<form action="/login">
				<button class="btn btn-dark my-sm-0" type="submit">
					<i class="fas fas fa-user-circle afIconsBtn"></i>
					Iniciar sesión
				</button>
			</form>
		</li>
	</ul>
</nav>
