.contenedor_con_side {
	display: flex;
}

.foto {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 2em;
}

.foto img {
	display: block;
	margin: auto;
	border: 1px solid black;
	padding: 4px;
}

.botones-navegacion, input {
	margin: .5em auto auto;
}

#nombre {
	margin: .5em auto;
}

.centro {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: 5% auto;
}

.detalles {
	text-align: left;
}

.titulo {
	margin-bottom: .5em;
	margin-top: .5em;
}

form {
	display: flex;
	flex-direction: column;
	resize: none;
}

textarea {
	resize: none;
}
