@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

body {
	padding-top: 80px;
	padding-bottom: 40px;
}

.content:before {
	content: "";
	position: fixed;
	top: -5%;
	left: -5%;
	right: 0;
	bottom: 0;
	z-index: -1;

	display: block;
	background-image: url(../img/registerbg.jpg);
	background-size:cover;
	width: 110%;
	height: 110%;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.content {
	overflow: auto;
	position: relative;
}

input {
	font-family: "Roboto";
	font-weight: 400;
}

.titleLogin {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	color: #34495e;
	font-size: 40px;
}
.form-signin {
	max-width: 60%;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #34495e;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 10px 10px 31px -17px rgba(0,0,0,0.75);
}

#card-login {
	background: rgba(255, 255, 255, 0.8)!important;
}

