html, body {
	height: 100%;
	background-color: lightskyblue;
}

li {
	list-style-type: none;
}

.contenedor {
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	background-color: lightgray;
	width: 100%;
	margin: 2%;
}

.usuarioHeader {
	display: flex;
	flex-direction: row-reverse;
}

.usuarioHeader * {
	margin-top: 1em;
	margin-right: 1em;
	display: inline-block;
}