@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

body {
    padding-top: 80px;
    padding-bottom: 40px;
}

.content:before {
    content: "";
    position: fixed;
    top: -5%;
    left: -5%;
    right: 0;
    bottom: 0;
    z-index: -1;

    display: block;
    background-image: url(../img/loginbg.jpg);
    background-size:cover;
    width: 110%;
    height: 110%;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    overflow: auto;
    position: relative;
}

input {
    font-family: "Roboto";
    font-weight: 400;
}

.titleLogin {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #34495e;
    font-size: 40px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.form-signin {
    max-width: 100%;
}