@import url('https://fonts.googleapis.com/css?family=Roboto:100,700');

body {
    background: linear-gradient(135deg, #3f739e 0%, #0487eb 100%);
    background-size: cover;
    outline: none;
    height: 100%;
    background-attachment: fixed;
}

body.login {
    background: url(../img/loginbg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.afHead {
    background-color: #2c3e50;
    -webkit-box-shadow: 3px 2px 24px 3px rgba(44, 62, 80, 1);
    -moz-box-shadow: 3px 2px 24px 3px rgba(44, 62, 80, 1);
    box-shadow: 3px 2px 24px 3px rgba(44, 62, 80, 1);
}

.afHeadTextBrand {
    font-family: 'Roboto', sans-serif;
    font-size: 160%;
}

.afHeadTextBrand > img {
    width: 85px;
    height: 70px;
}

.afHeadLogoBrand {
    padding-left: 10px;
    width: 300px;
    position: relative;
}

.afTitlePage {
    font-size: 300%;
    padding-top: 6%;
    margin-bottom: 5%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.afTextHeaderCard {
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    color: #2c3e50;
}

.afInfoBody {
    color: #2c3e50;
}

.afImgCard {
    margin-top: 5%;
}

.afSuccessBtnCard {
    margin: 0 2% 20px 0;
}

footer {
    background-color: black;
    margin-top: 10%;
}

.afSeparatedFooter {
    margin-bottom: 100px;
}

.afIconsBtn {
    margin-right: 10px;
}

.inline {
    display: inline;
}

.afGallery {

}

.afSuccAd {
    margin-top: 10px;
}

.afBtnReg {
    color: #FFFFFF;
    background-color: #1abc9c;
    border-color: #27AE60;
    margin-top: 60px;
}

.afBtnReg:hover,
.afBtnReg:focus,
.afBtnReg:active,
.afBtnReg.active,
.open .dropdown-toggle.afBtnReg {
    color: #FFFFFF;
    background-color: #2ECC71;
    border-color: #27AE60;
}

.form-group > label {
    font-family: "Roboto";
    color: white;
}

.afParameter {
    padding-top: 10px;
    padding-bottom: 10px;
}

.afParamText {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #2c3e50;
    text-align: justify;
    text-justify: inter-word;
}

#elimAnimalBtn {
    margin-right: 3px;
}

.profileTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}

.profileSubtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
    font-size: 14px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #34495e;
    border: 1px solid #2c3e50;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#card-login {
    background: rgba(255, 255, 255, 0.8)!important;
}

#editProfile {
    color: #3498db;
    font-family: "Roboto";
    font-weight: 400;
}

/* The sidebar menu */
.afSidebar {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 75px;
	left: 0;
	background-color: #343a40; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 10px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The mini sidebar menu */
.afMiniSidebar {
	background-color: #343a40; /* Black*/
	padding-top: 10px; /* Place content 60px from the top */
	padding-bottom: 10px;
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar h3 */
.afBar h3 {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 30px;
 color: white;
 display: block;
 transition: 0.3s;
}

/* The sidebar links */
.afBar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.afBar a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.afBar .closebtn {
	position: absolute;
	color: white;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 60px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s; /* If you want a transition effect */
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.afBar {padding-top: 15px;}
	.afBar a {font-size: 18px;}
}

.afSideSearchBtn {
	background:#ed624f;
	border-color:#394f63;
	border-width:1px;
}

.afSideSearchBtn:active{
	background: #ed624f;
}
