<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Animal Friends</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	        crossorigin="anonymous"></script>
	<script src="/bootstrap-4.3.1/js/bootstrap.min.js"></script>
	<script src="/bootstrap-4.3.1/js/bootstrap-filestyle.js"></script>
	<link rel="stylesheet" type="text/css" href="/bootstrap-4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/bootstrap-4.3.1/js/bootstrap-validate.js"></script>
	<script src="/scripts/processing.js"></script>
</head>
<body>
<div th:replace="fragments/navbar.html"></div>
<div class="pt-5"></div>
<div class="mt-5 mb-5 pt-3 d-block d-sm-block d-md-none"></div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="afTitlePage">Publicar anuncio</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-lg-3 col-xl-3">

		</div>
		<div class="col-md-6 col-lg-6 col-xl-6">
			<form action="#" th:action="@{/publicar}" th:object="${animal}" enctype="multipart/form-data" th:method="post">
				<div class="form-group">
					<label for="nameAnimal">Nombre</label>
					<input type="text" th:field="*{nombre}" class="form-control" id="nameAnimal"
					       aria-describedby="NombreAnimal"
					       placeholder="Introduce nombre del animal"/>
				</div>
				<div class="form-group">
					<label for="tipoAnimal">Tipo</label>
					<select class="form-control" id="tipoAnimal" th:field="*{tipo}">
						<option th:value="Perro" th:text="Perro"></option>
						<option th:value="Gato" th:text="Gato"></option>
						<option th:value="Otro" th:text="Otro"></option>
					</select>
<!--					<input type="text" th:field="*{tipo}" class="form-control" id="tipoAnimal" aria-describedby="tipoAn"-->
<!--					       placeholder="Introduce el tipo del animal"/>-->
				</div>
				<div class="form-group">
					<label for="razaAnimal">Raza</label>
					<input type="text" th:field="*{raza}" class="form-control" id="razaAnimal" aria-describedby="razaAn"
					       placeholder="Introduce la raza del animal"/>
				</div>
				<div class="form-group">
					<label for="ageAnimal">Edad</label>
					<input type="text" th:field="*{edad}" class="form-control" id="ageAnimal"
					       aria-describedby="AgeAnimal"
					       placeholder="Introduce la edad del animal"/>
				</div>
				<div class="form-group">
					<label for="ubiAnimal">Ubicación</label>
					<input type="text" th:field="*{ubicacion}" class="form-control" id="ubiAnimal"
					       aria-describedby="UbiAnimal"
					       placeholder="Introduce la ubicación del animal"/>
				</div>
				<div class="form-group">
					<label for="tamanoAnimal">Tamaño</label>
					<input type="text" th:field="*{tam}" class="form-control" id="tamanoAnimal"
					       aria-describedby="TamAnimal"
					       placeholder="Introduce el tamaño del animal (en cm)"/>
				</div>
				<div class="form-group">
					<label for="sexoAn">Sexo</label>
					<select class="form-control" id="sexoAn" th:field="*{sexo}">
						<option th:value="Macho" th:text="Macho"></option>
						<option th:value="Hembra" th:text="Hembra"></option>
					</select>
				</div>
				<div class="form-group">
					<label for="descAnimal">Descripción</label>
					<textarea class="form-control" id="descAnimal" th:field="*{descripcion}"
					          placeholder="Escribe una descripción para el anuncio..." rows="3"></textarea>
				</div>
				<div class="form-group">
					<label for="afFileUp">Elegir foto</label>
					<input name="file" id="afFileUp" type="file" class="filestyle" data-icon="" data-buttonText="Selecciona foto">
				</div>
				<button type="submit" class="btn btn-success btn-lg btn-block afBtnReg">Publicar anuncio</button>
			</form>
		</div>
		<div class="col-md-3 col-lg-3 col-xl-3">

		</div>
	</div>
</div>
</body>
</html>