<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
		      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Animal Friends</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		        crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		        crossorigin="anonymous"></script>
		<script src="/bootstrap-4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/bootstrap-4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script src="/scripts/processing.js"></script>
	</head>
	<body>
		<div th:replace="fragments/navbar.html"></div>
		<!-- espacio para compensar fixed-top-->
		<div class="pt-5"></div>
		<div class="mt-5 mb-5 pt-3 d-block d-sm-block d-md-none"></div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="afTitlePage">Buscar</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-12 mb-3">
					<button type="button" id="sidebarCollapse" data-toggle="collapse" data-target="#myMiniSidebar"
									aria-expanded="false" aria-controls="myMiniSidebar"
									class="btn btn-dark d-block d-sm-block d-md-none">
						<i class="fas fa-filter"></i> Filtros
					</button>
					<button type="button" class="btn btn-dark d-none d-md-block d-lg-block" onclick="openNav()">
						<i class="fas fa-filter"></i> Filtros
					</button>
				</div>
			</div>
			<!-- Sidebar  -->
			<div class="container d-none d-md-block d-lg-block">
				<div id="mySidebar" class="afSidebar afBar">
					<h3>Buscar</h3>
					<a href="javascript:void(0)" class="closebtn" data-toggle="collapse" data-target="#myMiniSidebar"
					   aria-expanded="false" aria-controls="myMiniSidebar" onclick="closeNav()">&times;</a>
					<div class="container-fluid">
						<form action="#" th:action="@{/busqueda}" th:method="post" th:object="${animalBusq}">
							<div class="form-group">
								<h5 class="afSearchText text-light" for="tipo">Tipo</h5>
								<select name="tipo" class="custom-select form-control" id="tipoAnimal" th:field="*{tipo}">
									<option th:value="null" selected>Cualquier tipo</option>
									<option th:value="perro" th:text="Perros"></option>
									<option th:value="gato" th:text="Gatos"></option>
									<option th:value="otros" th:text="Otros"></option>
								</select>
							</div>
							<div class="form-group">
								<h5 class="afSearchText text-light" for="ubicacion">Ubicación</h5>
								<select id="ubicacion" class="custom-select form-control" th:field="*{ubicacion}">
									<option th:value='null' selected>Cualquier provincia</option>
									<option th:value='alava'>Álava</option>
									<option th:value='albacete'>Albacete</option>
									<option th:value='alicante'>Alicante/Alacant</option>
									<option th:value='almeria'>Almería</option>
									<option th:value='asturias'>Asturias</option>
									<option th:value='avila'>Ávila</option>
									<option th:value='badajoz'>Badajoz</option>
									<option th:value='barcelona'>Barcelona</option>
									<option th:value='burgos'>Burgos</option>
									<option th:value='caceres'>Cáceres</option>
									<option th:value='cadiz'>Cádiz</option>
									<option th:value='cantabria'>Cantabria</option>
									<option th:value='castellon'>Castellón/Castelló</option>
									<option th:value='ceuta'>Ceuta</option>
									<option th:value='ciudadreal'>Ciudad Real</option>
									<option th:value='cordoba'>Córdoba</option>
									<option th:value='cuenca'>Cuenca</option>
									<option th:value='girona'>Girona</option>
									<option th:value='laspalmas'>Las Palmas</option>
									<option th:value='granada'>Granada</option>
									<option th:value='guadalajara'>Guadalajara</option>
									<option th:value='guipuzcoa'>Guipúzcoa</option>
									<option th:value='huelva'>Huelva</option>
									<option th:value='huesca'>Huesca</option>
									<option th:value='illesbalears'>Illes Balears</option>
									<option th:value='jaen'>Jaén</option>
									<option th:value='acoruña'>A Coruña</option>
									<option th:value='larioja'>La Rioja</option>
									<option th:value='leon'>León</option>
									<option th:value='lleida'>Lleida</option>
									<option th:value='lugo'>Lugo</option>
									<option th:value='madrid'>Madrid</option>
									<option th:value='malaga'>Málaga</option>
									<option th:value='melilla'>Melilla</option>
									<option th:value='murcia'>Murcia</option>
									<option th:value='navarra'>Navarra</option>
									<option th:value='ourense'>Ourense</option>
									<option th:value='palencia'>Palencia</option>
									<option th:value='pontevedra'>Pontevedra</option>
									<option th:value='salamanca'>Salamanca</option>
									<option th:value='segovia'>Segovia</option>
									<option th:value='sevilla'>Sevilla</option>
									<option th:value='soria'>Soria</option>
									<option th:value='tarragona'>Tarragona</option>
									<option th:value='santacruztenerife'>Santa Cruz de Tenerife</option>
									<option th:value='teruel'>Teruel</option>
									<option th:value='toledo'>Toledo</option>
									<option th:value='valencia'>Valencia/Valéncia</option>
									<option th:value='valladolid'>Valladolid</option>
									<option th:value='vizcaya'>Vizcaya</option>
									<option th:value='zamora'>Zamora</option>
									<option th:value='zaragoza'>Zaragoza</option>
								</select>
							</div>
							<div class="form-group">
								<h5 class="afSearchText text-light" for="tamAn">Tamaño</h5>
								<input type="text" th:field="*{tamMin}" class="form-control" id="tamMin" aria-describedby="minTamAn"
								       placeholder="Mín (cm)"/>
							</div>
							<div class="form-group">
								<input type="text" th:field="*{tamMax}" class="form-control mt-2" id="tamMax"
								       aria-describedby="maxTamAn"
								       placeholder="Máx (cm)"/>
							</div>
							<div class="form-group">
								<h5 class="afSearchText text-light">Edad</h5>
								<input type="text" th:field="*{edadMin}" class="form-control" id="edadMin"
								       aria-describedby="minEdadAn"
								       placeholder="Mínimo (años)" value=""/>
							</div>
							<div class="form-group">
								<input type="text" th:field="*{edadMax}" class="form-control mt-2" id="edadMax"
								       aria-describedby="maxEdadAn"
								       placeholder="Máximo (años)"/>
							</div>
							<div class="form-group">
								<h5 class="afSearchText text-light" for="sexo">Sexo</h5>
								<select name="sexo" class="custom-select form-control" th:field="*{sexo}">
									<option th:value="null" selected>Ambos</option>
									<option th:value="macho">Macho</option>
									<option th:value="hembra">Hembra</option>
								</select>
							</div>

							<div class="row d-flex justify-content-center pt-2">
								<button class='btn btn-dark btn-lg afSideSearchBtn' type="submit" data-toggle="collapse"
								        data-target="#myMiniSidebar" aria-expanded="false" aria-controls="myMiniSidebar">
									<i class="fas fa-search afIconsBtn"></i>
									Buscar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- Fin sidebar-->
			<!-- Espaciado intermedio  -->
			<div class="container d-none d-md-block d-lg-none pt-5 pb-5"></div>
			<!-- Mini Sidebar  -->
			<div class="container d-block d-sm-block d-md-none mb-3">
				<div class="container"></div>
				<div id="myMiniSidebar" class="container afMiniSidebar afBar collapse rounded">
					<h3>Buscar</h3>
					<div class="container-fluid">
						<form action="#" th:action="@{/busqueda}" th:method="post" th:object="${animalBusq}">
							<div class="form-group">
								<h5 class="afSearchText text-light" for="tipo">Tipo</h5>
								<select name="tipo" class="custom-select form-control" id="tipoAnimal" th:field="*{tipo}">
									<option th:value="null" selected>Cualquier tipo</option>
									<option th:value="perro" th:text="Perros"></option>
									<option th:value="gato" th:text="Gatos"></option>
									<option th:value="otros" th:text="Otros"></option>
								</select>
							</div>
							<div class="form-group">
								<h5 class="afSearchText text-light" for="ubicacion">Ubicación</h5>
								<select id="ubicacion" class="custom-select form-control" th:field="*{ubicacion}">
									<option th:value='null' selected>Cualquier provincia</option>
									<option th:value='alava'>Álava</option>
									<option th:value='albacete'>Albacete</option>
									<option th:value='alicante'>Alicante/Alacant</option>
									<option th:value='almeria'>Almería</option>
									<option th:value='asturias'>Asturias</option>
									<option th:value='avila'>Ávila</option>
									<option th:value='badajoz'>Badajoz</option>
									<option th:value='barcelona'>Barcelona</option>
									<option th:value='burgos'>Burgos</option>
									<option th:value='caceres'>Cáceres</option>
									<option th:value='cadiz'>Cádiz</option>
									<option th:value='cantabria'>Cantabria</option>
									<option th:value='castellon'>Castellón/Castelló</option>
									<option th:value='ceuta'>Ceuta</option>
									<option th:value='ciudadreal'>Ciudad Real</option>
									<option th:value='cordoba'>Córdoba</option>
									<option th:value='cuenca'>Cuenca</option>
									<option th:value='girona'>Girona</option>
									<option th:value='laspalmas'>Las Palmas</option>
									<option th:value='granada'>Granada</option>
									<option th:value='guadalajara'>Guadalajara</option>
									<option th:value='guipuzcoa'>Guipúzcoa</option>
									<option th:value='huelva'>Huelva</option>
									<option th:value='huesca'>Huesca</option>
									<option th:value='illesbalears'>Illes Balears</option>
									<option th:value='jaen'>Jaén</option>
									<option th:value='acoruña'>A Coruña</option>
									<option th:value='larioja'>La Rioja</option>
									<option th:value='leon'>León</option>
									<option th:value='lleida'>Lleida</option>
									<option th:value='lugo'>Lugo</option>
									<option th:value='madrid'>Madrid</option>
									<option th:value='malaga'>Málaga</option>
									<option th:value='melilla'>Melilla</option>
									<option th:value='murcia'>Murcia</option>
									<option th:value='navarra'>Navarra</option>
									<option th:value='ourense'>Ourense</option>
									<option th:value='palencia'>Palencia</option>
									<option th:value='pontevedra'>Pontevedra</option>
									<option th:value='salamanca'>Salamanca</option>
									<option th:value='segovia'>Segovia</option>
									<option th:value='sevilla'>Sevilla</option>
									<option th:value='soria'>Soria</option>
									<option th:value='tarragona'>Tarragona</option>
									<option th:value='santacruztenerife'>Santa Cruz de Tenerife</option>
									<option th:value='teruel'>Teruel</option>
									<option th:value='toledo'>Toledo</option>
									<option th:value='valencia'>Valencia/Valéncia</option>
									<option th:value='valladolid'>Valladolid</option>
									<option th:value='vizcaya'>Vizcaya</option>
									<option th:value='zamora'>Zamora</option>
									<option th:value='zaragoza'>Zaragoza</option>
								</select>
							</div>
							<div class="form-group">
								<h5 class="afSearchText text-light" for="tamAn">Tamaño</h5>
								<input type="text" th:field="*{tamMin}" class="form-control" id="tamMinMbl"
								       aria-describedby="minTamAn"
								       placeholder="Mín (cm)"/>
							</div>
							<div class="form-group">
								<input type="text" th:field="*{tamMax}" class="form-control mt-2" id="tamMaxMbl"
								       aria-describedby="maxTamAn"
								       placeholder="Máx (cm)"/>
							</div>
							<div class="form-group">
								<h5 class="afSearchText text-light">Edad</h5>
								<input type="text" th:field="*{edadMin}" class="form-control" id="edadMinMbl"
								       aria-describedby="minEdadAn"
								       placeholder="Mínimo (años)" value=""/>
							</div>
							<div class="form-group">
								<input type="text" th:field="*{edadMax}" class="form-control mt-2" id="edadMaxMbl"
								       aria-describedby="maxEdadAn"
								       placeholder="Máximo (años)"/>
							</div>
							<div class="form-group">
								<h5 class="afSearchText text-light" for="sexo">Sexo</h5>
								<select name="sexo" class="custom-select form-control" th:field="*{sexo}">
									<option th:value="null" selected>Ambos</option>
									<option th:value="macho">Macho</option>
									<option th:value="hembra">Hembra</option>
								</select>
							</div>

							<div class="row d-flex justify-content-center pt-2">
								<button class='btn btn-dark btn-lg afSideSearchBtn' type="submit" data-toggle="collapse"
								        data-target="#myMiniSidebar" aria-expanded="false" aria-controls="myMiniSidebar">
									<i class="fas fa-search afIconsBtn"></i>
									Buscar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<script src="/scripts/initialize.js"></script>
			<script src="/scripts/sidebar.js"></script>
			<!-- Fin sidebar-->
			<div class="row" th:each="animal: ${animales}">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="card text-black-50 bg-white mb-3 align-content-center">
						<div class="card-header afTextHeaderCard" th:text="${animal.nombre}"></div>
						<div class="card-header"><span class="badge badge-primary"
						                               th:text="${animal.visitas} + ' visitas'"></span></div>
						<div class="container">
							<div class="row align-content-end">
								<div class="col-lg-3 col-md-3 col-sm-12 align-content-center">
									<img th:src="@{/info/__${animal.image}__}" class="card-img border-bottom afImgCard">
								</div>
								<div class="col-lg-9 col-md-9 col-sm-12">
									<div class="card-body">
										<div class="inline">
											<p class="card-text afInfoBody" th:text="${animal.descripcion}"></p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<form th:action="@{/info/__${animal.id}__}" method="get">
										<button class='btn btn-dark btn-lg float-right afSuccessBtnCard'>
											<i class="fas fa-info afIconsBtn"></i> Ver detalles
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
