<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Animal Friends</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
	<script src="/bootstrap-4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/bootstrap-4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!-- Javascript para el modal -->
	<script>
		$(document).on('click', 'img.afGallery', function () {
			$('#modal .modal-body').html($(this).clone()[0]);
			$('#modal').modal('show');
		})
	</script>
</head>
<body>
<div th:replace="fragments/navbar.html"></div>
<div class="pt-5"></div>
<div class="mt-5 mb-5 pt-3 d-block d-sm-block d-md-none"></div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="afTitlePage">Adoptar</h1>
		</div>
	</div>
	<!--    <div class="row" th:each="Animal: ${animal}"> -->
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="card text-black-50 bg-white mb-3 align-content-center">
			<div class="card-header afTextHeaderCard" th:text="${animal.nombre}"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 align-content-center">
						<!--Slider -->
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
							 data-interval="false">
							<div class="carousel-inner">
								<!-- Introducir un bloque por imagen -->
								<!-- Imagen -->
								<div class="carousel-item active">
									<img th:src="${animal.image}" class="d-block w-100 afGallery" alt="img1">
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button"
							   data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Anterior</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button"
							   data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Siguiente</span>
							</a>
						</div>
						<!-- Modal -->
						<div class="modal fade" tabindex="-1" role="dialog" id="modal">
							<div class="modal-dialog">
								<div class="modal-content">
									<div style="text-align:right; padding-right:12px">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span></button>
									</div>
									<div class="modal-body">
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<!-- fin Slider -->
					</div>
					<div class="col-lg-9 col-md-9 col-sm-12">
						<div class="card-body afInfoBody">
							<!-- Parametros -->
							<div class="mb-1">
								<h5 class="card-title d-inline">Tipo: </h5>
								<p class="card-text d-inline" th:text="${animal.tipo}"></p>
							</div>
							<div class="mb-1">
								<h5 class="card-title d-inline">Raza: </h5>
								<p class="card-text d-inline" th:text="${animal.raza}"></p>
							</div>
							<div class="mb-1">
								<h5 class="card-title d-inline">Edad: </h5>
								<p class="card-text d-inline" th:text="${animal.edad}"></p>
							</div>
							<div class="mb-1">
								<h5 class="card-title d-inline">Tamaño: </h5>
								<p class="card-text d-inline" th:text="${animal.tam}"></p>
							</div>
							<div class="mb-1">
								<h5 class="card-title d-inline">Sexo: </h5>
								<p class="card-text d-inline" th:text="${animal.sexo}"></p>
							</div>
							<div class="mb-1">
								<h5 class="card-title d-inline">Ubicación: </h5>
								<p class="card-text d-inline" th:text="${animal.ubicacion}"></p>
							</div>
							<div class="mb-1">
								<h5 class="card-title d-inline">Descripción: </h5>
								<p class="card-text d-inline" th:text="${animal.descripcion}"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 text-center">
						<!-- Botón solicitar -->
						<button class='btn btn-dark btn-lg afSuccessBtnCard' data-toggle="modal" data-target="#modalSolicitud">
							<img src="/img/af_logo.ico"> Solicitar
						</button>
						<button th:if="${canDelete}" class='btn btn-danger btn-lg float-right mr-1' data-toggle="modal"
								data-target="#modalEliminar">
							<i class="fas fa-trash"></i>
						</button>

						<!-- Modal -->
						<div class="modal fade" id="modalSolicitud" tabindex="-1" role="dialog"
							 aria-labelledby="modalSolicitud" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="modalSolicitudLongTitle">Solicitud adopción</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>¿Quieres adoptar a <td th:text="${animal.nombre}"></td>?</p>
										<p>Envia un correo a <span class="font-weight-bold"> <td th:text="${animal.donor.email}"></td></span>, y se pondrá en contacto contigo.</p>
										<p>¡Gracias por elegirnos!</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<!-- Modal -->
				<form th:if="${canDelete}" th:action="@{/borrar/__${animal.id}__}" method="post">
					<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog"
						 aria-labelledby="modalEliminar" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modalEliminarLongTitle">Eliminar anuncio</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>¿Quieres eliminar tu anuncio?</p>
								<div class="modal-footer">
									<button type="submit" class="btn btn-danger">Borrar anuncio</button>
									<button type="button" class="btn btn-secondary" data-dismiss="modal">
										Cerrar
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--    </div> -->
</div>
<div class="container afSeparatedFooter">

</div>
<footer class="footer fixed-bottom">
	<div class="container">
		<div class="col-12">
			<p class="text-muted" style="padding-top: 15px;">Animal Friends</p>
		</div>
	</div>
	<input th:if="${animal.visitas}=='1'" type="hidden" id="visitas" th:value="${animal.visitas}">
</footer>
</body>
<script src="/scripts/processing.js"></script>
</html>
