<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Animal Friends</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	        crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	        crossorigin="anonymous"></script>
	<script src="/bootstrap-4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/bootstrap-4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/scripts/validation.js"></script>
	<!-- Javascript para el modal -->
	<script>
		$(document).on('click', 'img.afGallery', function () {
			$('#modal .modal-body').html($(this).clone()[0]);
			$('#modal').modal('show');
		})
	</script>
</head>
<body>
<div th:replace="fragments/navbar.html"></div>
<div class="pt-5"></div>
<div class="mt-5 mb-5 pt-3 d-block d-sm-block d-md-none"></div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="afTitlePage">Mi perfil</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center well mb-5">
			<h2 class="profileTitle d-inline-flex mb-4" th:text="${user.name}"></h2>
			<h2 class="profileTitle d-inline-flex mb-4" th:text="${user.surnames}"></h2>
			<h3 id="editProfile" class="text-left">Mis datos</h3>
			<div class="content">
				<form class="form-signin well" id="card-login" onsubmit="return validTextEdit()" method="post"
				      th:action="@{/modify/{id}(id=${user.id})}">
					<div class="form-group text-left">
						<div class="form-row">
							<div class="col-md-6 col-sm-12">
								Móvil: <input th:value="${user.mobile}" type="number" class="form-control mb-1" id="tel"
								              name="mobile" placeholder="Móvil">
								<div class="invalid-feedback mb-2">
									El número de teléfono no es válido
								</div>
							</div>
						</div>
					</div>
					<div class="form-group text-left">
						<div class="form-row">
							<div class="col col-sm-12">
								Dirección: <input th:value="${user.address}" type="text" class="form-control mb-1"
								                  name="address" id="address" placeholder="Dirección">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6 col-sm-12">
								Ciudad: <input th:value="${user.city}" type="text" class="form-control mb-1" name="city"
								               id="city" placeholder="Ciudad">
								<div class="invalid-feedback mb-2">
									La ciudad no puede contener números
								</div>
							</div>
							<div class="form-group col-md-4 col-sm-12">
								Provincia: <input th:value="${user.state}" type="text" id="state"
								                  class="form-control mb-1" name="state" placeholder="Provincia">
								<div class="invalid-feedback mb-2">
									La provincia no puede contener números
								</div>
							</div>
							<div class="form-group col-md-2 col-sm-12">
								Cod. Postal: <input th:value="${user.postcode}" type="number" class="form-control mb-1"
								                    id="postcode" name="postcode" placeholder="Cod. Postal">
								<div class="invalid-feedback mb-2">
									El código postal no es válido
								</div>
							</div>
						</div>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Guardar cambios</button>
				</form>
				<h3 id="editProfile" class="text-left">Mi acceso</h3>
				<form class="form-signin well" id="card-login" onsubmit="return validPass()" method="post"
				      th:action="@{/modify/{id}(id=${user.id})}">
					<div class="form-group">
						<div class="form-row">
							<div class="col-md-6 col-sm-12">
								<input type="password" class="form-control mb-1" id="pass" name="password"
								       placeholder="Contraseña">
								<div class="invalid-feedback mb-2">
									La contraseña debe tener al menos 8 caracteres, mayúscula, minúscula, número y
									símbolo.
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<input type="password" class="form-control mb-1" id="pass2"
								       placeholder="Repite contraseña">
							</div>
						</div>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Guardar cambios</button>
				</form>
			</div>
		</div>
	</div>

</div>
</body>
<script src="/scripts/processing.js"></script>
</html>
